{% extends "index.html" %}
{% block content %} 
  <div class="row divider blue">
    <div class="col-md-12"></div>
  </div>
  <div class="row banner menu">
    <div class="col-md-11 col-md-offset-1 padding-none">
      <h1>{{ fanshop.name }}
      {% if login_session.get('credentials') is not none %}
      <figure class="creator">
        <br/>
        <p style = "font-size: 24px">{{user.name}}&nbsp&nbsp<img src= ' {{login_session['picture']}} ' style = "width: 30px; height: 30px;border-radius: 5px;-webkit-border-radius: 15px;-moz-border-radius: 5px;"></p>
      </figure>
      {% endif %}
      </h1>

    </div>
  </div>

  <div class="row padding-top padding-bottom">
    <div class="col-md-1"></div>
    {% if login_session.get('credentials') is not none %}
    <div class="col-md-11 padding-none">
      <a href="{{url_for('editfanshop', shop_ID = fanshop.id )}}">
        <button class="btn btn-default" id="edit">Edit fan Shop</button>
      </a>
      <a href="{{url_for('addNewfan', shop_ID = fanshop.id )}}">
        <button class="btn btn-default" id="new-fan">Add New fan</button>
      </a>
        <button class="btn btn-default delete" id="delete" onclick="myFunction('Are you sure to delete this fan shop?','{{url_for('deletefanshop', shop_ID = fanshop.id )}}')" >Delete fan Shop</button>
    </div>
    {% endif %}
    <div class="col-md-7"></div>
  </div>
  {% if fans !=[] %}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        {% for fan in fans %}
            <div class="menu-item">
              <h3>{{fan.name}}</h3>
              <p>{{fan.description}}</p>
              <p class="menu-price">Price:{{fan.price}}$</p>
              {% if login_session.get('credentials') is not none %}
              <button  onclick="window.location.replace('{{url_for('editfan', shop_ID = fanshop.id, fan_ID=fan.id ) }}')">Edit</button>
              &nbsp
              <button  onclick="myFunction('Are you sure to delete this fan?','{{url_for('deletefan', shop_ID = fanshop.id, fan_ID=fan.id ) }}')">Delete</button>
              {% endif %}
            </div>
        {% endfor %}
      </div>
    </div>

  {% endif %}
{% endblock %}